*.DS_Store
*.pyc
*~
*.log
*.egg-info/
.idea
dist
pip-log.txt
test.py
build
PyOptixCppProject-build
tests
PyOptix/compiler/compiled_ptxs
**/CMakeLists.txt.user

# virtual environment
venv
bin
include
lib